

.book-card {
  font-size: 14px;
  display: flex;
  line-height: 1.2;
  padding: 20px;

  &__img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }

  &__author {
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
  }

  p {
    margin: 10px 0;
  }

  .book-card__data {
    margin-bottom: 1em;
    span, svg {
      vertical-align: middle;
    }
  }

  .book-rating {
   
    &__star {
      width: 20px; height: 20px;
      position: relative;
      fill: #ffca05;
      margin-right: 4px;
    }
  }

  &__data-title {
    color: rgba(0, 0, 0, 0.3);
  }

  &__annotation {
    max-height: 3.6em;
    overflow: hidden;
    margin-bottom: 1em;
  }

  &__footer {
    display: flex;
    align-items: center;
    height: 40px;
  }

  &__price {
    margin-right: 20px;
    min-width: 50px;
  }

  &__button {
    [data-status] {
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      border-radius: 3px;
      font-size: 14px;
      white-space: nowrap;
      min-width: 108px;
      border: none;
      outline: none;
      box-shadow: none;
      color: white;
      font-family: inherit;
      cursor: pointer;
      text-decoration: none;
    }

      [data-status="in-basket"] {
        background: #8bc53f;
        &:hover { background: #7db139; }
      }

      [data-status="buy"] {
        background: #26a9e0;
        &:hover { background: #2298ca; }
      }

      [data-status="where"] {
        background: #0060ae;
        &:hover { background: #00569d; }
      }

      [data-status="not"] {
        background: transparent;
        color: gray;
        cursor: default;
        justify-content: flex-start;
        padding: 0;
      }
    
  }
}