

.book-card {
  font-size: 14px;
  display: flex;
  line-height: 1.2;

  &__img {
    width: 140px;
    height: 225px;
    margin-right: 20px;
    flex-shrink: 0;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  &__title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: none;
    color: inherit;
  }

  &__author {
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 5px;
  }

  p {
    margin: 10px 0;
  }

  .book-rating {
    display: flex;
    align-items: center;
    &__title {
      display: inline-block;
      background: #ffcc03;
      padding: 5px 7px;
      border-radius: 3px;
      font-size: 13px;
      color: #4e4e4e;
      
    }

    &__vote {
      display: inline-block;
      font-size: 11px; color: #ccc; 
      margin: 0 5px;
    }

    &__stars {
      display: flex;
    }

    &__star {
      width: 20px; height: 20px;
      position: relative;
      margin-right: -4px;
      fill: #e6e6e6;
    }

    &[data-rating="1"] .rating__star:nth-of-type(-n + 1),
    &[data-rating="2"] .rating__star:nth-of-type(-n + 2),
    &[data-rating="3"] .rating__star:nth-of-type(-n + 3),
    &[data-rating="4"] .rating__star:nth-of-type(-n + 4),
    &[data-rating="5"] .rating__star:nth-of-type(-n + 5),
    &[data-rating="6"] .rating__star:nth-of-type(-n + 6),
    &[data-rating="7"] .rating__star:nth-of-type(-n + 7),
    &[data-rating="8"] .rating__star:nth-of-type(-n + 8),
    &[data-rating="9"] .rating__star:nth-of-type(-n + 9),
    &[data-rating="10"] .rating__star:nth-of-type(-n + 10), {
      fill: #ffca05;
    }

  }

  &__annotation {
    max-height: 3.6em;
    overflow: hidden;
  }

  &__button {
    button {
      height: 30px;
      padding: 0 20px;
      border-radius: 3px;
      font-size: 14px;
      white-space: nowrap;
      min-width: 108px;
      border: none;
      outline: none;
      box-shadow: none;
      color: white;
      font-family: inherit;
      cursor: pointer;

      &[data-status="buy"] {
        background: #8bc53f;
        &:hover { background: #7db139; }
      }

      &[data-status="in-basket"] {
        background: #26a9e0;
        &:hover { background: #2298ca; }
      }

      &[data-status="where"] {
        background: #0060ae;
        &:hover { background: #00569d; }
      }

      &[data-status="not"] {
        background: transparent;
        color: gray;
      }
    }
  }
}