.book {
  position: relative;
  z-index: 10;
  display: flex; flex-direction: column;
  justify-content: space-around;
  width: 136px;
  padding: 8px 12px 8px 12px;
  text-align: left; line-height: 1.2;
  border: 2px solid white;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: background-color 500ms, color 500ms;
  transition-timing-function: linear;

  @each $cycle, $color in $cyclesColors {
    &[data-cycle="#{$cycle}"] {
      background-color: $color;
    }
  }

  .star {
    position: absolute;
    bottom: 7px; right: 7px;
    width: 20px;
    height: 20px;
    fill: white;
  }

  &:hover {
    .cycle-item__title, .cycle-item__year { color: inherit; }
    .star { fill: inherit; }
  }

  &__title {
    font-size: 16px; font-weight: bold;
    margin-bottom: 7px;
  }

  &__date {
    font-size: 15px;
  }

  &__add {
    font-size: 12px;
  }



  &[data-lines="1"] { height: $book1Height; }
  &[data-lines="2"] { height: $book2Height; }
  &[data-lines="3"] { height: $book3Height; }
  &[data-lines="4"] { height: $book4Height; }
  &[data-lines="5"] { height: $book5Height; }
}

.cycles {
  display: flex; 
  width: $cyclesWidth;
  margin-left: auto; margin-right: auto;
  position: relative;
  padding-bottom: 200px;

  &__column {
    margin-right: $cycleMarginRight;

    &:last-of-type {
      margin-right: 0;
    }

    &[data-column="3"] {
      margin-top: $book2Height * 2 + $bookMarginBottom * 2;
    }

    &[data-column="4"] .book:nth-of-type(3) {
      margin-top: $book1Height + $bookMarginBottom * 2;
    }

    // &[data-column="5"] .book:nth-of-type(7) {
    //   margin-top: $violetSpecificMargin;
    // }

    &[data-column="6"] {
      margin-top: $book2Height * 2 + $book1Height + $bookMarginBottom * 2 + $cyclePaddingTop * 2 + $cycleMarginBottom;
    }

    &[data-column="6"] .cycle[data-column-index="2"] {
      margin-top: $violetSeparateSpecificMargin;
    }
  }

}

.cycle {
  width: $cycleWidth;
  padding: $cyclePaddingTop $cyclePaddingLeft;
  border-radius: 22px;
  position: relative;
  z-index: 1;
  margin-bottom: $cycleMarginBottom;

  &:before {
    position: absolute;
    content: '';
    top: 20px; bottom: 20px;
    left: 50%;
    width: 0;
    border: 1px solid white;
    z-index: 0;
  }

  &[data-cycle="fuchsia"]:before,
  &[data-cycle="red"]:before {
    display: none;
  }

  &[data-cycle="lime"] {
    margin-top: $limeCycleMargin;

    .book {
      margin-bottom: 26px;

      &__title {
        margin: 0;
      }
    }
  }

  @each $cycle, $color in $cyclesColors {
    &[data-cycle="#{$cycle}"] {
      background: $color;
      color: $color;
      fill: $color;
    }
  }

  &.cycle_transparent {
    background: transparent;
    &:before {
      display: none;
    }
  }

  .book {
    position: relative;
    margin-bottom: $bookMarginBottom;
    &:last-of-type {
      margin-bottom: 0;
    }
    &:hover {
      color: inherit;
      background: white;
      &__title { color: inherit; }
      &__date { color: inherit; }
    }
  }

}

.cycle {
  .relations {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    overflow: visible;
    stroke-width: 2;
    stroke: white;
    fill: none;

    .dashed {
      stroke-dasharray: 4 4;
    }
  }

  &[data-cycle="blue"] {
    .relations {
      top: 100%;
    }
  }
}


