.pratchett-header {
    padding-top: 15px;
    padding-bottom: 165px;
    min-height: 300px; 
}


.turtle { 
  position: relative;
  display: inline-block;
  width: 811px;
  height: 601px;
  background: url($imgUrl+ 'turtle.svg') center / contain no-repeat;

  .book {
    position: absolute;

    &[data-cycle="blue"] { top: 25px; left: 85px; }
    &[data-cycle="green"] { top: 65px; left: 240px; }
    &[data-cycle="orange"] { top: 0px; left: 590px; }
    &[data-cycle="pink"] { top: 50px; left: 660px; }
    &[data-cycle="red"] { top: 220px; left: 275px; }
    &[data-cycle="aqua"] { top: 310px; left: 370px; }
    &[data-cycle="violet"] { top: 370px; left: 245px; }
    &[data-cycle="dark"] { top: 280px; left: 575px; }
    &[data-cycle="fuchsia"] { top: 420px; left: 415px; }
  }

  .flags {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;

    .flag {
      position: absolute;
      width: 35px; height: 22px;
      cursor: pointer;

      &-icon {
        width: 33px;
        height: 22px;
      }

      &:before {
        content: '';
        width: 2px;
        height: 49px;
        position: absolute;
        left: -2px;
        top: -0.4px;
      }

      &:after {
        position: absolute;
        top: 0; left: 10px;
        color: white;
        display: inline;
        content: attr(data-index);
      }


      @each $id, $color in $cyclesColors {
        &[data-cycle="#{$id}"] {
          .flag-icon { fill: $color; }
          &:before { background: $color; }
        }
      }

      @each $id, $items in $flagsPositions {
        @each $index, $coords in $items {
          &[data-index="#{$index}"][data-cycle="#{$id}"] {
            left: nth($coords, 1);
            top: nth($coords, 2);
          }
        }
      }

    }
  }
}





