

.pratchett-header {
    padding-top: 15px;
    padding-bottom: 165px;
    min-height: 300px; 
    position: relative;

    &__strip {
      position: relative;
      z-index: 1;
    }
}


.turtle { 
  position: relative;
  display: inline-block;
  width: 811px;
  height: 601px;
  background: url($imgUrl+ 'turtle.svg') center / contain no-repeat;

  .compass {
    position: absolute;
    left: -46px;
    bottom: -38px;
    cursor: pointer;
    z-index: 5;
    fill: white;
    transition: fill 1000ms;

    svg, path { fill: inherit; }
    
    &:hover {
      animation-name: compassHover;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }

    svg {
      animation-name: compassAnimation;
      animation-iteration-count: infinite;
      animation-duration: 40s;
      transform-origin: 75px 81px;
    }
  }

  @keyframes compassAnimation {
    from { transform: rotate(0deg); }

    11% { transform: rotate(90deg); }
    17% { transform: rotate(60deg); }

    47% { transform: rotate(270deg); }
    51% { transform: rotate(240deg); }

    62% { transform: rotate(140deg); }
    68% { transform: rotate(160deg); }

    79% { transform: rotate(330deg); }
    85% { transform: rotate(300deg); }

    94% { transform: rotate(390deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes compassHover {
    from { fill: white; }
    10% { fill: $blueCycle; }
    20% { fill: $greenCycle; }
    30% { fill: $orangeCycle; }
    40% { fill: $pinkCycle; }
    50% { fill: $fuchsiaCycle; }
    60% { fill: $violetCycle; }
    70% { fill: $redCycle; }
    80% { fill: $aquaCycle; }
    90% { fill: $limeCycle; }
    100% { fill: white; }
  }

  @each $cycle, $color in $cyclesColors {
    .flags__block[data-area="#{$cycle}"]:hover ~ .compass {
      fill: $color;
      
    }
  }

  .book {
    position: absolute;

    &[data-cycle="blue"] { top: 25px; left: 85px; }
    &[data-cycle="green"] { top: 65px; left: 240px; }
    &[data-cycle="orange"] { top: 0px; left: 590px; }
    &[data-cycle="pink"] { top: 50px; left: 660px; }
    &[data-cycle="red"] { top: 280px; left: 275px; }
    &[data-cycle="aqua"] { top: 210px; left: 410px; }
    &[data-cycle="violet"] { top: 370px; left: 245px; }
    &[data-cycle="lime"] { top: 190px; left: 85px; }
    &[data-cycle="fuchsia"] { top: 130px; left: 555px; }
  }

  .flags {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;

    &__block {

      &:before, &:after {
        content: '';
        position: absolute;
        z-index: 1;
      }

      &:hover {
        &:before, &:after {
          opacity: 0.8;
        }
      }

      @each $cycle, $area in $areasPositions {
        &[data-area="#{$cycle}"] {

          @each $pseudo, $coords in $area {
            @if $pseudo == 'before' {
              &:before {
                left: nth($coords, 1);
                top: nth($coords, 2);
                width: nth($coords, 3);
                height: nth($coords, 4);
                border-radius: nth($coords, 5);
                transform: rotate(nth($coords, 6));
              }
            }
            @else {
              &:after {
                left: nth($coords, 1);
                top: nth($coords, 2);
                width: nth($coords, 3);
                height: nth($coords, 4);
                border-radius: nth($coords, 5);
                transform: rotate(nth($coords, 6));
              }
            }
          }
          
        }
      }

        

    }

    .flag {
      position: absolute;
      width: 35px; height: 22px;
      cursor: pointer;
      z-index: 2;

      &-icon {
        width: 33px;
        height: 22px;
      }

      &:before {
        content: '';
        width: 2px;
        height: 49px;
        position: absolute;
        left: -2px;
        top: -0.4px;
      }

      &:after {
        position: absolute;
        top: 0; left: 10px;
        color: white;
        display: inline;
        content: attr(data-index);
      }


      @each $id, $color in $cyclesColors {
        &[data-cycle="#{$id}"] {
          .flag-icon { fill: $color; }
          &:before { background: $color; }
        }
      }

      @each $id, $items in $flagsPositions {
        @each $index, $coords in $items {
          &[data-index="#{$index}"][data-cycle="#{$id}"] {
            left: nth($coords, 1);
            top: nth($coords, 2);
          }
        }
      }

    }
  }

}





