.pratchett-scheme {
  position: relative;
}

.pratchett-map {
  position: fixed;
  right: 52px; top: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  background: $darkViolet;
  transform: translateY(-100%); 

  transition: transform 600ms;

  z-index: 20;

  padding: 21px 65px 10px 30px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px 25px 0 0;

  &[data-close] {
    transform: translateY(-60px); 
    cursor: pointer;
  }

  &__close {
    position: absolute;
    width: 24px; height: 24px;
    top: 21px; right: 21px;
    fill: white;
    cursor: pointer;

    [data-close] & {
      display: none;
    }
  }

  .icon {
    width: 32px;
    height: 24px;
    margin-right: 5px;
    overflow: visible;
  }

  &__columns {
    display: flex;
  }

  &__column {
    padding-right: 30px;
  }

  &__item, &__title {
    height: 30px;
    display: flex; align-items: center;
    margin-bottom: 12px;
  }

  &__item {
    font-weight: bold;
  }

  @each $cycle, $color in $cyclesColors {
    &__item[data-map="#{$cycle}"] { fill: $color; } 
  }

  &__item[data-map="separate"] { fill: white; stroke: white; }
  &__item[data-map="direct"]:before,
  &__item[data-map="indirect"]:before {
    content: '';
    width: 31px;
    height: 0;
    margin-right: 14px;
  }
  &__item[data-map="direct"]:before {
    border-bottom: 2px solid white;
  }
  &__item[data-map="indirect"]:before {
    border-bottom: 2px dashed white;
  }
}