.pratchett-scheme {
  position: relative;
}

.pratchett-map {
  position: absolute;
  right: 52px; bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  background: $darkViolet;

  transition: bottom 600ms;

  z-index: 20;

  padding: 21px 65px 10px 30px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px 25px 0 0;

  &[data-close] {
    bottom: -220px;
  }

  &__close {
    position: absolute;
    width: 24px; height: 24px;
    top: 21px; right: 21px;
    fill: white;
  }

  .icon {
    width: 32px;
    height: 24px;
    margin-right: 5px;
    overflow: visible;
  }

  &__column {
    padding-right: 12px;
  }

  &__item, &__title {
    height: 30px;
    display: flex; align-items: center;
    margin-bottom: 12px;
  }

  &__item {
    font-weight: bold;
  }

  @each $cycle, $color in $cyclesColors {
    &__item[data-map="#{$cycle}"] { fill: $color; } 
  }

  &__item[data-map="roman"] { fill: none; stroke: white; }
  &__item[data-map="start"] { fill: white; stroke: white; }
  &__item[data-map="picture"], &__item[data-map="science"] { fill: white; }
  &__item[data-map="direct"] {
    border-bottom: 2px solid white;
    height: 0;
    margin-bottom: 5px;
  }
  &__item[data-map="indirect"] {
    border-bottom: 2px dashed white;
    height: 0;
    margin-bottom: 5px;
  }
}