.pratchett-scheme {
  position: relative;
}

.pratchett-map {
  position: absolute;
  right: 0; bottom: 0;
  display: flex;
  justify-content: flex-end;
  color: white;

  .icon {
    width: 24px;
    margin-right: 5px;
  }

  &__item, &__title {
    height: 30px;
    display: flex; align-items: center;
  }

  @each $cycle, $color in $cyclesColors {
    &__item[data-map="#{$cycle}"] { fill: $color; } 
  }

  &__item[data-map="roman"] { fill: none; stroke: white; }
  &__item[data-map="start"] { fill: white; stroke: white; }
  &__item[data-map="picture"], &__item[data-map="science"] { fill: white; }
}