.controls {
  height: 100%;
  width: 100%;
  padding-top: 27px;
  margin: auto;
  display: flex;
  justify-content: center;

  [data-prev], [data-next] {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: #B3B3B3;
    cursor: pointer;

    &:hover {
      stroke: #666666;
    }
  }

  [data-viewport] {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 524px;
    flex-grow: 0;
  }

  [data-slides] {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0; left: 0;
    margin: auto;
  }

  &[data-no-slider] {
    [data-slides] {
      right: 0;
    }
  }

  &[data-move] [data-slides] {
    transition: left 500ms;
  }
}


.pratchett-control {
  width: 83px;
  height: 123px;
  margin-right: 27px;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(100%);
    opacity: 0.8;
    user-select: none;
  }

  &[data-active], &:hover {
    img {
      filter: grayscale(0%);
      opacity: 1;
    }
    
  }
}