$blueCycle: #3F8CFF;
$orangeCycle: #E87522;
$pinkCycle: #E34893;
$aquaCycle: #18B5AC;
$redCycle: #EB5757;
$violetCycle: #7864C6;
$fuchsiaCycle: #ED1F6F;
$greenCycle: #219653;
$limeCycle: #8AB50F;

$cyclesColors: (
  blue: $blueCycle,
  orange: $orangeCycle,
  pink: $pinkCycle,
  aqua: $aquaCycle,
  red: $redCycle,
  violet: $violetCycle,
  fuchsia: $fuchsiaCycle,
  green: $greenCycle,
  lime: $limeCycle
);

$flagsPositions: (
  blue: (
    1: (325px, 17px),
    2: (282px, 43px),
    3: (349px, 42px),
    4: (331px, 77px),
    5: (291px, 71px),
    6: (243px, 77px),
    7: (252px, 112px),
    8: (301px, 160px),
    9: (222px, 181px)
  ),
  green: (
    1: (397px, 52px),
    2: (412px, 79px),
    3: (442px, 100px),
    4: (464px, 119px),
    5: (473px, 147px),
    6: (414px, 174px)
  ),
  orange: (
    1: (465px, 0px),
    2: (505px, 5px),
    3: (542px, 11px),
    4: (509px, 73px),
    5: (489px, 33px)
  ),
  pink: (
    1: (589px, 36px),
    2: (602px, 80px),
    3: (621px, 121px),
    4: (649px, 155px),
    5: (579px, 166px),
    6: (670px, 265px),
  ),
  aqua: (
    1: (323px, 364px),
    2: (457px, 319px),
    3: (343px, 240px)
  ),
  red: (
    1: (398px, 393px),
    2: (354px, 402px)
  ),
  violet: (
    1: (463px, 413px),
    2: (425px, 420px),
    3: (453px, 439px),
    4: (395px, 442px),
    5: (366px, 461px),
    6: (326px, 481px),
    7: (319px, 505px),
    8: (417px, 531px),
    9: (496px, 483px)
  ),
  fuchsia: (
    1: (504px, 173px),
    2: (531px, 212px)
  ),
  lime: (
    1: (246px, 300px),
    2: (266px, 235px)
  )
);

$areasPositions: (
  blue: (
    before: (246px, 18px, 112px, 174px, 105px 41px 73px 87px / 104px 86px 78px 58px, 30deg),
    after: (189px, 127px, 162px, 102px, 95px 112px 180px 79px/ 84px, -19deg)
  ),
  green: (
    before: (410px, 31px, 62px, 176px, 105px 41px 73px 87px / 104px 86px 78px 58px, -35deg),
    after: (401px, 142px, 75px, 87px, 36px/63px, 19deg)
  ),
  orange: (
    before: (448px, 4px, 104px, 124px, 19px 20px 51px 155px / 35px 86px 64px 172px, -9deg)
  ),
  pink: (
    before: (595px, 40px, 62px, 176px, 105px 41px 73px 87px / 104px 86px 78px 58px, -35deg),
    after: (581px, 137px, 121px, 195px, 16px 41px 73px 87px / 104px 86px 78px 58px, -35deg)
  ),
  fuchsia: (
    before: (495px, 175px, 62px, 106px, 105px 41px 73px 87px / 104px 86px 78px 58px, -35deg)
  ),
  lime: (
    before: (221px, 243px, 73px, 111px, 105px 41px 73px 87px / 104px 86px 78px 58px, 16deg)
  ),
  violet: (
    before: (357px, 398px, 142px, 231px, 105px 10px 104px 10px/104px 10px 164px 10px, 54deg)
  ),
  red: (
    before: (331px, 403px, 104px, 49px, 105px 41px 73px 87px / 104px 86px 78px 58px, -33deg)
  ),
  aqua: (
    before: (302px, 225px, 104px, 212px, 39px 100px 104px 10px/46px 163px 142px 10px, 13deg),
    after: (344px, 286px, 187px, 93px, 39px 100px 104px 10px/46px 163px 142px 10px, -15deg)
  )
);

$cyclesPositions: (
  blue: (0px, 0px),
  green: (183px, 0px)
);

$cycleWidth: 164px;
$cyclePaddingTop: 16px;
$cyclePaddingLeft: 14px;
$cycleMarginRight: 19px;
$cycleMarginBottom: 30px;
$cyclesWidth: 7 * $cycleWidth + 6 * $cycleMarginRight;

$bookWidth: 136px;
$bookMarginBottom: 15px;
$book1Height: 67px;
$book2Height: 83px;
$book3Height: 112px;
$book4Height: 135px;
$book5Height: 148px;
$violetSpecificMargin: 109px;
$violetSeparateSpecificMargin: 228px;
$limeCycleMargin: 224px;

body {
  background: $darkViolet;
  color: white;
}

main {
  background: $darkViolet;
  padding-bottom: 60px;
}


@import 'wave.scss';
@import 'stars.scss';
@import 'header.scss';
@import 'card.scss';
@import 'bookCard.scss';
@import 'slider.scss';
@import 'cycles.scss';
@import 'map.scss';
