-
  var bigWave2 = [
    {
      action: "M", 
      points: [ 
        [ 952.8, 177.044],
      ]
    },{
      action: "C",
      points: [
        [ 907.7, 141.244],
        [ 844.3, 129.744],
        [ 789.4, 147.644],
      ]
    },{
      action: "C", 
      points: [ 
        [778.2, 151.244], 
        [767.1, 156.144], 
        [755.3, 156.244], 
      ]
    },{
      action: "C",
      points: [
        [ 732.5, 156.544],
        [ 713.8, 139.744],
        [ 695.3, 126.544],
      ]
    },{
      action: "C",
      points: [
        [ 668.8, 107.744],
        [ 635.8, 94.644],
        [ 604.1, 101.744],
      ]
    },{
      action: "C",
      points: [
        [ 571, 109.144],
        [ 541.7, 137.844],
        [ 508.5, 131.444],
      ]
    },{
      action: "C",
      points: [
        [ 488.4, 127.544],
        [ 473.3, 111.644],
        [ 457.7, 98.244],
      ]
    },{
    
      action: "C",
      points: [
        [ 442.1, 84.844],
        [ 421.8, 72.844],
        [ 402.2, 78.844],
      ]
    },{
      action: "C",
      points: [
        [ 388.2, 83.144],
        [ 376.6, 96.244],
        [ 362, 95.244],
      ]
    },{
      action: "C",
      points: [
        [ 342.5, 93.844],
        [ 334.6, 70.144],
        [ 320.8, 56.244],
      ]
    },{
      action: "C",
      points: [
        [ 298.8, 34.044],
        [ 262, 38.544],
        [ 232.1, 47.544],
      ]
    },{
      action: "C",
      points: [
        [ 202.1, 36.544],
        [ 169.5, 28.444],
        [ 140.7, 36.244],
      ]
    },{
      action: "C",
      points: [
        [ 123.8, 9.044],
        [ 111.3, 14.644],
        [ 96.5, 3.744],
      ]
    },{
      action: "C",
      points: [
        [ 69.3, 3.44397],
        [ 33.2, -4.45603],
        [ 0, 2.44397],
      ]
    },{
      action: "V",
      points: [
        ['', 143.944]
      ]
    },{
      action: "C",
      points: [
        [ 22.4, 132.044],
        [ 46.5, 123.344],
        [ 71.3, 118.444],
      ]
    },{
      action: "C",
      points: [
        [ 80.6, 116.644],
        [ 90.2, 115.244],
        [ 99.4, 117.244],
      ]
    },{ 
      action: "C",
      points: [
        [ 122.5, 122.144],
        [ 137.3, 145.744],
        [ 159.6, 153.444],
      ]
    },{
      action: "C",
      points: [
        [ 181.5, 160.944],
        [ 205.5, 151.644],
        [ 225.3, 139.544],
      ]
    },{
      action: "C",
      points: [
        [ 245, 127.444],
        [ 263.6, 112.244],
        [ 286.1, 106.644],
      ]
    },{
      action: "C",
      points: [
        [ 297.8, 103.744],
        [ 310.6, 103.644],
        [ 321.5, 108.744],
      ]
    },{//C348.6 121.244 354.3 158.244 377.3 177.344
    
      action: "C",
      points: [
        [ 348.6, 121.244],
        [ 354.3, 158.244],
        [ 377.3, 177.344],
      ]
    },{//C394.5 191.644 418.8 193.744 440.9 191.044
    
      action: "C",
      points: [
        [ 394.5, 191.644],
        [ 418.8, 193.744],
        [ 440.9, 191.044],
      ]
    },{//C463.1 188.344 484.7 181.544 506.9 180.344
    
      action: "C",
      points: [
        [ 463.1, 188.344],
        [ 484.7, 181.544],
        [ 506.9, 180.344],
      ]
    },{ //C568.3 177.144 625.8 216.844 687.2 214.344
    
      action: "C",
      points: [
        [ 568.3, 177.144],
        [ 625.8, 216.844],
        [ 687.2, 214.344],
      ]
    },{//C731.3 212.544 771.6 189.244 815 181.544
    
      action: "C",
      points: [
        [ 731.3, 212.544],
        [ 771.6, 189.244],
        [ 815, 181.544],
      ]
    },{//C860.3 173.544 907.1 182.744 952.8 177.044
    
      action: "C",
      points: [
        [ 860.3, 173.544],
        [ 907.1, 182.744],
        [ 952.8, 177.044],
      ]
    }
  ];