-
  var blueCycle = [
    {
      'title': 'Цвет<br>волшебства',
      'year': '1983',
      'lines': 2
    },{
      'title': 'Безумная<br>звезда',
      'year': '1986',
      'lines': 2
    },{
      'title': 'Посох<br>и шляпа',
      'year': '1988',
      'lines': 2
    },{
      'title': 'Эрик,<br>а также<br>Ночная&nbsp;стража,<br>ведьмы<br>и&nbsp;Коэн&#8209;Варвар',
      'year': '1990',
      'lines': 5
    },{
      'title': 'Интересные времена',
      'year': '1995',
      'lines': 2
    },{
      'title': 'Последний континент',
      'year': '1998',
      'lines': 2
    },{
      'title': 'Последний герой',
      'year': '2001',
      'star': true,
      'lines': 2
    },{
      'title': 'Незримые академики',
      'year': '2009',
      'lines': 2
    },{
      'title': 'Наука Плоскомирья<br>I-IV',
      'year': '1999-2013',
      'science': true,
      'lines': 3
    }
  ]

  var greenCycle = [
    {
      'title': 'Творцы заклинаний',
      'year': '1987',
      'lines': 2
    },{
      'title': 'Вещие сестрички',
      'year': '1988',
      'lines': 2
    },{
      'title': 'Ведьмы за<br>границей',
      'year': '1991',
      'lines': 2
    },{
      'title': 'Дамы<br>и господа',
      'year': '1992',
      'lines': 2
    },{
      'title': 'Маскарад',
      'year': '1995',
      'lines': 1
    },{
      'title': 'Хватай за горло',
      'year': '1998',
      'lines': 2
    }
  ]
  
  var orangeCycle = [
    {
      'title': 'Маленький свободный народец',
      'year': '2003',
      'lines': 3
    },{
      'title': 'Шляпа, полная неба',
      'year': '2004',
      'lines': 2
    },{
      'title': 'Господин Зима',
      'year': '2006',
      'lines': 2
    },{
      'title': 'Платье&nbsp;цвета<br>полуночи',
      'year': '2010',
      'lines': 2
    },{
      'title': 'Пастушья корона',
      'year': '2015',
      'lines': 2
    }
  ]

  var pinkCycle = [
    {
      'title': 'Мор, ученик Смерти',
      'year': '1987',
      'lines': 2
    },{
      'title': 'Мрачный Жнец',
      'year': '1991',
      'lines': 2
    },{
      'title': 'Роковая<br>музыка',
      'year': '1994',
      'lines': 2
    },{
      'title': 'Санта-<br>Хрякус',
      'year': '1996',
      'lines': 2
    },{
      'title': 'Вор<br>времени',
      'year': '2001',
      'lines': 2
    },
  ]

  var pinkSideCycle = [
    {
      'title': 'Изумительный<br>Морис и его<br>ученые грызуны',
      'year': '2001',
      'lines': 4
    }
  ]

  var fuchsiaCycle = [
    {
      'title': 'Пирамиды',
      'year': '1989',
      'lines': 1
    },{
      'title': 'Мелкие<br>Боги',
      'year': '1992',
      'lines': 2
    }
  ]

  var violetCycle = [
    {
      'title': 'Стража!<br>Стража!',
      'year': '1989',
      'lines': 2
    },{
      'title': 'К оружию!<br>К оружию!',
      'year': '1993',
      'lines': 2
    },{
      'title': 'Ноги из<br>глины',
      'year': '1996',
      'lines': 2
    },{
      'title': 'Патриот',
      'year': '1997',
      'lines': 1
    },{
      'title': 'Пятый элефант',
      'year': '1999',
      'lines': 2
    },{
      'title': 'Ночная стража',
      'year': '2002',
      'lines': 2
    },{
      'title': 'Шмяк!',
      'year': '2005',
      'lines': 2
    }
  ]

  var violetSideCycleFirst = [
    {
      'title': 'Пехотная баллада',
      'year': '2003',
      'lines': 2
    }
  ]

  var violetSideCycleSecond = [
    {
      'title': 'Дело<br>табак',
      'year': '2011',
      'lines': 2
    }
  ]

  var redCycle = [
    {
      'title': 'Движущиеся картинки',
      'year': '1990',
      'lines': 2
    },{
      'title': 'Правда',
      'year': '2000',
      'lines': 1
    },
  ]

  var aquaCycle = [
    {
      'title': 'Держи марку!',
      'year': '2004',
      'lines': 2
    },{
      'title': 'Делай деньги!',
      'year': '2007',
      'lines': 2
    },{
      'title': 'Поддай пару!',
      'year': '2013',
      'lines': 2
    },
  ]

  var flags = [
    {
      id: 'blue',
      length: 9
    },{
      id: 'green',
      length: 6
    },{
      id: 'pink',
      length: 5
    },{
      id: 'violet',
      length: 8
    },{
      id: 'red',
      length: 2
    },{
      id: 'aqua',
      length: 2
    },{
      id: 'orange',
      length: 5
    },{
      id: 'fuchsia',
      length: 2
    },{
      id: 'dark',
      length: 3
    }
  ]

  var columns = [
    [ 
      { id: "blue", books: blueCycle } 
    ],[ 
      { id: "green", books: greenCycle },
      { id: "orange", books: orangeCycle }
    ],[
      { id: "pink", books: pinkSideCycle },
      { id: "fuchsia", books: fuchsiaCycle }
    ],[
      { id: "pink", books: pinkCycle }
    ],[
      { id: "violet", books: violetCycle }
    ],[
      { id: "violet", books: violetSideCycleFirst },
      { id: "violet", books: violetSideCycleSecond }
    ],[
      { id: "red", books: redCycle },
      { id: "aqua", books: aquaCycle }
    ]
  ]