mixin pratchettHeader
  +flag
  .pratchett-header
    h1.pratchett-header__strip.text-center
      img(src=imgUrl+'title.svg' width="1190" height="216")
    .pratchett-header__world.text-center
      .turtle
        .flags
          for block in flags
            .flags__block
              -var i = 1
              while i <= block.length
                .flag(data-index=i data-cycle=block.id)
                  svg.flag-icon: use(xlink:href="#flag-icon")
                  -i++
          
          
          


mixin flag
  <svg style="display: none;" width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    symbol#flag-icon
      <path d="M32.8852 19.0634C31.1252 21.3334 27.0851 21.8034 25.0851 19.3534C24.0278 18.2534 22.5883 17.6016 21.064 17.5327C19.5398 17.4639 18.0474 17.9832 16.8952 18.9834C16.3066 19.4768 15.6888 19.9343 15.0451 20.3534C14.1187 20.963 13.0049 21.2214 11.9047 21.0821C10.8045 20.9427 9.79031 20.4147 9.04515 19.5934C7.99914 18.5779 6.68379 17.8838 5.25515 17.5934C3.89515 17.2234 2.69515 17.9234 1.46515 18.3334C1.0443 18.5147 0.636637 18.7252 0.245151 18.9634C0.128581 18.6399 0.0480878 18.3045 0.00514591 17.9634C0.00514591 12.8934 0.00514591 7.83338 0.00514591 2.76338C-0.0236535 2.37814 0.0688705 1.99355 0.269733 1.66356C0.470596 1.33357 0.769722 1.07474 1.12515 0.923382C2.3325 0.176997 3.75998 -0.131024 5.16768 0.0510843C6.57537 0.233193 7.87748 0.89433 8.85515 1.92338C9.69433 2.71913 10.7295 3.27813 11.8552 3.54338C13.3552 3.95338 14.5951 3.15338 15.7951 2.42338C16.0936 2.22095 16.3716 1.98985 16.6251 1.73338C17.7268 0.63847 19.2169 0.023918 20.7702 0.023918C22.3234 0.023918 23.8135 0.63847 24.9151 1.73338C25.8892 2.71907 27.194 3.30861 28.5775 3.38804C29.961 3.46746 31.3247 3.03112 32.4051 2.16338C32.4751 2.10338 32.6052 2.16338 32.7052 2.09338C33.0652 3.05338 33.2351 15.4234 32.8852 19.0634Z" transform=""/>
  </svg>