mixin pratchettSlider
  .pratchett-card(data-book-card)
    .pratchett-card__wrapper
      svg.pratchett-card__close(data-close): use(xlink:href="#close-icon")
      +bookCard
      .pratchett-card__controls(data-controls)

mixin bookCard
  .pratchett-card__book.book-card
    
    a.book-card__img(href="")
      img(src="" alt="")
    .book-card__info
      p
        a.book-card__title(href="")
      p.book-card__author
      .book-rating(data-rating="1")
        .book-rating__title Рейтинг: #[b.count]
        .book-rating__vote
        .book-rating__stars
          .book-rating__star
          .book-rating__star
          .book-rating__star
          .book-rating__star
          .book-rating__star
          .book-rating__star
          .book-rating__star
          .book-rating__star
          .book-rating__star
          .book-rating__star
      p.book-card__year Год издания: #[span.year]
      p.book-card__publisher Издательство: #[span.publisher]
      p.book-card__price Цена: #[b #[span.price]&#8399;]
      p.book-card__annotation
      .book-card__button