mixin pratchettSlider
  .pratchett-card
    .pratchett-card__wrapper
      svg.pratchett-card__close(data-close): use(xlink:href="#close-icon")
      +bookCard
      
      .pratchett-card__controls(data-controls)
        .controls(data-slider="pratchett")
          div(data-prev)
            <svg width="22" height="45" viewBox="0 0 22 45" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="-0.5" x2="30.8901" y2="-0.5" transform="matrix(-0.620717 -0.784034 0.428706 -0.903444 19.7627 44)" stroke="#CCCCCC"/>
              <line y1="-0.5" x2="28.8495" y2="-0.5" transform="matrix(-0.727917 0.685666 -0.333601 -0.942714 21 0)" stroke="#CCCCCC"/>
            </svg>
          div(data-next)
            <svg width="22" height="45" viewBox="0 0 22 45" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="-0.5" x2="30.8901" y2="-0.5" transform="matrix(0.620717 0.784034 -0.428706 0.903444 2.2373 1)" stroke="#CCCCCC"/>
              <line y1="-0.5" x2="28.8495" y2="-0.5" transform="matrix(0.727917 -0.685666 0.333601 0.942714 1 45)" stroke="#CCCCCC"/>
            </svg>
          div(data-viewport)
            div(data-slides)

mixin bookCard
  .pratchett-card__book.book-card
    
    a.book-card__img(href="")
      img(src="" alt="")
    .book-card__info
      p
        a.book-card__title(href="")
      p.book-card__author
      .book-rating(data-rating="")
        .book-rating__title Рейтинг: #[b.count]
        .book-rating__vote
        .book-rating__stars
          .book-rating__star
          .book-rating__star
          .book-rating__star
          .book-rating__star
          .book-rating__star
          .book-rating__star
          .book-rating__star
          .book-rating__star
          .book-rating__star
          .book-rating__star
      p.book-card__year Год издания: #[span.year]
      p.book-card__publisher Издательство: #[span.publisher]
      p.book-card__price Цена: #[b #[span.price]&#8399;]
      p.book-card__annotation
      .book-card__button