mixin pratchettSlider
  .pratchett-card
    .pratchett-card__wrapper
      svg.pratchett-card__close(data-close): use(xlink:href="#close-icon")
      +bookCard
      
      .pratchett-card__controls
        div Другие книги #[span.seria]
          
        .controls(data-slider="pratchett")
          div(data-prev)
            <svg width="22" height="45" viewBox="0 0 22 45" fill="none" xmlns="http://www.w3.org/2000/svg" >
              <line y1="-0.5" x2="30.8901" y2="-0.5" transform="matrix(-0.620717 -0.784034 0.428706 -0.903444 19.7627 44)" />
              <line y1="-0.5" x2="28.8495" y2="-0.5" transform="matrix(-0.727917 0.685666 -0.333601 -0.942714 21 0)" />
            </svg>
          
          div(data-viewport)
            div(data-slides)
          div(data-next)
            <svg width="22" height="45" viewBox="0 0 22 45" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="-0.5" x2="30.8901" y2="-0.5" transform="matrix(0.620717 0.784034 -0.428706 0.903444 2.2373 1)"/>
              <line y1="-0.5" x2="28.8495" y2="-0.5" transform="matrix(0.727917 -0.685666 0.333601 0.942714 1 45)" />
            </svg>

mixin bookCard
  .pratchett-card__book.book-card
    
    a.book-card__img(href="")
      img(src="" alt="")
    .book-card__info
      a.book-card__title(href="")
      .book-card__author
      .book-card__data
        span.book-rating
          svg.book-rating__star: use(xlink:href="#star-icon")
          span.count 0
          |&nbsp;(
          span.vote 0
          |)&nbsp;
        span.book-card__publisher 
          span.book-card__data-title Издательство&nbsp;
          span.publisher 
          |&nbsp;
        span.book-card__year 
          span.book-card__data-title Год издания:&nbsp;
          span.year
      .book-card__annotation
      .book-card__footer
        .book-card__price #[b #[span.price] &#8399;]
        .book-card__button