$firmBlueColor: #26A9E0;

$alphaPurpleColor: rgba(166, 47, 155, 0.9);
$alphaGreenColor: rgba(48, 190, 166, 0.75);
$alphaYellowColor: #FFC550;
$alphaPinkColor: #F975B8;

$partyPurpleColor: #A62F9B;
$partyGreenColor: #30BEA6;
$partyYellowColor: #FDB812;
$partyPinkColor: #EE5BA0;

$partyPurpleHover: #BC3FB6;
$partyYellowHover: #FFC550;
$partyPinkHover: #F975B8;
$partyGreenHover: #45CEB3;

$darkViolet: #191965;

$blueColor: $firmBlueColor;