@mixin flex-column-center {
  display: flex; flex-direction: column; justify-content: center; align-items: center;
}

@mixin flex-row-center {
  display: flex; justify-content: center; align-items: center;
}

@mixin fix-header {
  header {
    position: fixed; top: 0; left: 0; right: 0;
    z-index: $fixHeaderZIndex;
  }
  main {
    padding-top: $headerHeight;
  }
}

@mixin button {
  display: inline-block;
  text-decoration: none;
  border-radius: $buttonBorderRadius;
  padding: $buttonPadding;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  font-family: $buttonFontFamily;

  &:focus, &:hover, &:active {
    box-shadow: none;
    outline: none;
  }
}