$containerWidth: 980px;
$halfContainerWidth: 440px;
$minWidth: 1200px;

$paragraphMargin: 20px;

// buttons
$buttonBorderRadius: 5px;
$buttonPadding: 0 25px;

// fix header
$headerHeight: 80px;
$headerLogoWidth: 247px;
$headerLogoHeight: 44px;

$fixHeaderZIndex: 100;

// header menu
$headerMenuStartOpacity: 0.6;
$headerMenuLeftMargin: 40px;
$headerMenuRightMargin: 0;
$headerMenuFontSize: 18px;

// social menu
$socialItemSize: 40px;
$socialStartOpacity: 0.5;
$socialItemRadius: 0;
$socialItemLeftMargin: 0px;
$socialItemRightMargin: 0px;

//footer
$footerHeight: 72px;

// footer menu
$footerMenuFontSize: 14px;
$footerMenuStartOpacity: 0.6;
$footerMenuLeftMargin: 0px;
$footerMenuRightMargin: 30px;