mixin logoWithoutLink(logo)
  - var className = logo.class || "blue"
  - var width = logo.width || 247
  - var height = logo.height || 44

  svg(width=width height=height viewBox="0 0 247 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="transparent" class=className)
    style.
      .white #logo-text { fill: white; }
      .white #big-logo { fill: white; }
      .blue #logo-text { fill: #4D4D4D; }
      .blue #big-logo { fill: #26A9E0; }

    <g id="Canvas" transform="translate(624 -7626)">
      <rect x="-624" y="7626" width="247" height="44" fill=""/>
      <clipPath id="clip-0" clip-rule="evenodd">
        <path d="M -714 7608L 566 7608L 566 8480L -714 8480L -714 7608Z" />
      </clipPath>
      <g id="&#208;&#146;&#208;&#181;&#209;&#129;&#208;&#189;&#208;&#176; &#208;&#178; &#209;&#129;&#208;&#187;&#208;&#190;&#208;&#178;&#208;&#176;&#209;&#133;. &#208;&#159;&#208;&#181;&#209;&#128;&#208;&#184;&#208;&#190;&#208;&#180; 1" clip-path="url(#clip-0)">
        <path d="M -714 7608L 566 7608L 566 8480L -714 8480L -714 7608Z" />
        <g id="Component">
          <g id="Rectangle 2.10">
            <use xlink:href="#logo_path0_fill" transform="translate(-714 7608)" />
          </g>
          <g id="logo_chitai-gorod">
            <g id="Group">
              <g id="logo-text">
                <g id="Vector">
                  <use xlink:href="#logo_path1_fill" transform="translate(-624 7662.51)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path2_fill" transform="translate(-618.457 7662.51)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path3_fill" transform="translate(-612.526 7662.51)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path4_fill" transform="translate(-607.265 7662.51)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path5_fill" transform="translate(-598.337 7662.51)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path6_fill" transform="translate(-592.438 7662.51)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path7_fill" transform="translate(-584.924 7660.46)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path8_fill" transform="translate(-575.976 7662.51)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path9_fill" transform="translate(-570.045 7662.51)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path10_fill" transform="translate(-564.742 7662.51)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path11_fill" transform="translate(-559.44 7662.35)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path12_fill" transform="translate(-553.425 7662.34)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path13_fill" transform="translate(-547.106 7662.51)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path14_fill" transform="translate(-541.458 7662.35)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path15_fill" transform="translate(-536.073 7662.51)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path16_fill" transform="translate(-530.644 7664.56)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path17_fill" transform="translate(-526.317 7662.51)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path18_fill" transform="translate(-519.317 7662.36)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path19_fill" transform="translate(-513.271 7662.51)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path20_fill" transform="translate(-509.079 7662.36)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path21_fill" transform="translate(-503.453 7662.35)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path22_fill" transform="translate(-497.71 7662.51)" />
                </g>
                <g id="Vector">
                  <use xlink:href="#logo_path23_fill" transform="translate(-491.779 7662.51)" />
                </g>
              </g>
              <g id="big-logo">
                <use xlink:href="#logo_path24_fill" transform="translate(-624 7626)" />
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
    <defs>
      <path id="logo_path0_fill" d="M 0 0L 1280 0L 1280 80L 0 80L 0 0Z"/>
      <path id="logo_path1_fill" d="M 3.70951 5.40869L 1.73949 2.74626L 0.890701 3.57409L 0.890701 5.40788L 1.3837e-08 5.40788L 1.3837e-08 1.32835e-06L 0.890701 1.32835e-06L 0.890701 2.5786L 3.3637 1.32835e-06L 4.55829 1.32835e-06L 2.37869 2.1272L 4.84122 5.40788L 3.70951 5.40788L 3.70951 5.40869Z"/>
      <path id="logo_path2_fill" d="M 8.91718e-08 5.40788L 8.91718e-08 8.85568e-07L 0.890701 8.85568e-07L 0.890701 2.14897L 3.59424 2.14897L 3.59424 8.85568e-07L 4.48494 8.85568e-07L 4.48494 5.40788L 3.59424 5.40788L 3.59424 2.93488L 0.890701 2.93488L 0.890701 5.40788L 8.91718e-08 5.40788Z"/>
      <path id="logo_path3_fill" d="M 3.13639e-07 5.40788L 3.13639e-07 8.85568e-07L 0.890701 8.85568e-07L 0.890701 4.4132L 0.911658 4.4132L 3.34275 8.85568e-07L 4.48494 8.85568e-07L 4.48494 5.40788L 3.59424 5.40788L 3.59424 0.996296L 3.57328 0.996296L 1.14219 5.40788L 3.13639e-07 5.40788Z"/>
      <path id="logo_path4_fill" d="M 1.10028 5.40788L 3.32088e-07 5.40788L 2.36822 2.22151L 0.303886 8.85568e-07L 1.40416 8.85568e-07L 3.60472 2.48429L 3.62568 2.48429L 3.62568 8.85568e-07L 4.51638 8.85568e-07L 4.51638 2.48429L 4.53733 2.48429L 6.73789 8.85568e-07L 7.83817 8.85568e-07L 5.77303 2.22151L 8.14125 5.40788L 7.04097 5.40788L 5.18622 2.78818L 4.51557 3.46849L 4.51557 5.40788L 3.62487 5.40788L 3.62487 3.46849L 2.95422 2.78818L 1.10028 5.40788Z"/>
      <path id="logo_path5_fill" d="M -1.03316e-06 5.40788L -1.03316e-06 8.85568e-07L 0.890699 8.85568e-07L 0.890699 2.14897L 3.59424 2.14897L 3.59424 8.85568e-07L 4.48494 8.85568e-07L 4.48494 5.40788L 3.59424 5.40788L 3.59424 2.93488L 0.890699 2.93488L 0.890699 5.40788L -1.03316e-06 5.40788Z"/>
      <path id="logo_path6_fill" d="M 2.60923 5.40788L -8.3637e-07 5.40788L -8.3637e-07 8.85568e-07L 0.890699 8.85568e-07L 0.890699 2.06594L 2.56731 2.06594C 3.62568 2.06594 4.32776 2.69386 4.32776 3.72079C 4.32776 4.73724 3.66759 5.40788 2.60923 5.40788ZM 0.890699 2.82928L 0.890699 4.62278L 2.28438 4.62278C 3.0179 4.62278 3.40562 4.29713 3.40562 3.72079C 3.40562 3.14445 3.02838 2.83009 2.28438 2.83009L 0.890699 2.83009L 0.890699 2.82928ZM 6.07772 8.85568e-07L 6.07772 5.40788L 5.18702 5.40788L 5.18702 8.85568e-07L 6.07772 8.85568e-07Z"/>
      <path id="logo_path7_fill" d="M -1.52515e-06 7.46093L -1.52515e-06 2.05305L 0.890702 2.05305L 0.890702 6.46624L 0.911657 6.46624L 3.34275 2.05305L 4.48494 2.05305L 4.48494 7.46093L 3.59424 7.46093L 3.59424 3.04934L 3.57328 3.04934L 1.14219 7.46093L -1.52515e-06 7.46093ZM 2.25295 1.44527C 1.38321 1.44527 0.764953 0.837501 0.660165 1.72194e-07L 1.19459 1.72194e-07C 1.34129 0.502178 1.70805 0.817349 2.24247 0.817349C 2.78737 0.817349 3.12269 0.502178 3.29035 1.72194e-07L 3.82477 1.72194e-07C 3.68855 0.837501 3.16461 1.44527 2.25295 1.44527Z"/>
      <path id="logo_path8_fill" d="M -5.6578e-07 5.40788L -5.6578e-07 8.85568e-07L 0.8907 8.85568e-07L 0.8907 4.4132L 0.911658 4.4132L 3.34275 8.85568e-07L 4.48494 8.85568e-07L 4.48494 5.40788L 3.59424 5.40788L 3.59424 0.996296L 3.57328 0.996296L 1.14219 5.40788L -5.6578e-07 5.40788Z"/>
      <path id="logo_path9_fill" d="M -2.26312e-06 5.40788L -2.26312e-06 8.85568e-07L 0.890701 8.85568e-07L 0.890701 2.14897L 3.59424 2.14897L 3.59424 8.85568e-07L 4.48494 8.85568e-07L 4.48494 5.40788L 3.59424 5.40788L 3.59424 2.93488L 0.890701 2.93488L 0.890701 5.40788L -2.26312e-06 5.40788Z"/>
      <path id="logo_path10_fill" d="M 2.82929 0.785912L 2.82929 5.40788L 1.93858 5.40788L 1.93858 0.785912L 9.83965e-08 0.785912L 9.83965e-08 8.85568e-07L 4.76867 8.85568e-07L 4.76867 0.785912L 2.82929 0.785912Z"/>
      <path id="logo_path11_fill" d="M 2.54636 5.74321C 0.953573 5.74321 2.45991e-06 4.69452 2.45991e-06 2.93488C 2.45991e-06 1.18572 1.01645 1.13156e-06 2.51492 1.13156e-06C 4.29632 1.13156e-06 4.96696 1.41545 4.96696 2.97679L 4.96696 3.10254L 0.901179 3.10254L 0.8907 3.16541C 0.8907 4.31808 1.52991 5.00888 2.57779 5.00888C 3.35323 5.00888 3.78286 4.67356 4.03435 3.85621L 4.9041 3.85621C 4.63165 5.104 3.82477 5.74321 2.54636 5.74321ZM 2.49396 0.733519C 1.62422 0.733519 1.01645 1.36306 0.901179 2.3787L 4.04483 2.3787C 3.961 1.35177 3.38466 0.733519 2.49396 0.733519Z"/>
      <path id="logo_path12_fill" d="M 0.838308 0.931809C 1.25746 0.261164 1.86523 2.95189e-07 2.66163 2.95189e-07C 4.17058 2.95189e-07 5.12415 1.0898 5.12415 2.83976C 5.12415 4.58892 4.18105 5.71016 2.70354 5.71016C 1.90715 5.71016 1.35177 5.44899 0.890698 4.82026L 0.890698 7.65841L 8.3637e-07 7.65841L 8.3637e-07 0.166051L 0.838308 0.166051L 0.838308 0.931809ZM 0.859267 2.84944C 0.859267 4.15929 1.50895 4.95568 2.55683 4.95568C 3.57328 4.95568 4.20282 4.14962 4.20282 2.84944C 4.20282 1.53958 3.57409 0.743192 2.52621 0.743192C 1.488 0.743192 0.859267 1.53958 0.859267 2.84944Z"/>
      <path id="logo_path13_fill" d="M -1.67274e-06 5.40788L -1.67274e-06 8.85568e-07L 0.890702 8.85568e-07L 0.890702 2.14897L 3.59424 2.14897L 3.59424 8.85568e-07L 4.48494 8.85568e-07L 4.48494 5.40788L 3.59424 5.40788L 3.59424 2.93488L 0.890702 2.93488L 0.890702 5.40788L -1.67274e-06 5.40788Z"/>
      <path id="logo_path14_fill" d="M 2.54635 5.74321C 0.953572 5.74321 1.37755e-06 4.69452 1.37755e-06 2.93488C 1.37755e-06 1.18572 1.01644 1.13156e-06 2.51492 1.13156e-06C 4.29632 1.13156e-06 4.96696 1.41545 4.96696 2.97679L 4.96696 3.10254L 0.901178 3.10254L 0.890699 3.16541C 0.890699 4.31808 1.52991 5.00888 2.57779 5.00888C 3.35323 5.00888 3.78286 4.67356 4.03435 3.85621L 4.90409 3.85621C 4.63164 5.104 3.82477 5.74321 2.54635 5.74321ZM 2.49396 0.733519C 1.62422 0.733519 1.01644 1.36306 0.901178 2.3787L 4.04483 2.3787C 3.96019 1.35177 3.38467 0.733519 2.49396 0.733519Z"/>
      <path id="logo_path15_fill" d="M 2.82929 0.785912L 2.82929 5.40788L 1.93858 5.40788L 1.93858 0.785912L 1.18076e-06 0.785912L 1.18076e-06 8.85568e-07L 4.76868 8.85568e-07L 4.76868 0.785912L 2.82929 0.785912Z"/>
      <path id="logo_path16_fill" d="M 3.04934 0.880222L 1.67274e-06 0.880222L 1.67274e-06 7.13374e-07L 3.04934 7.13374e-07L 3.04934 0.880222Z"/>
      <path id="logo_path17_fill" d="M 4.97745 5.40788L 4.97745 1.143L 4.94601 1.143L 3.34275 5.40788L 2.5254 5.40788L 0.92214 1.143L 0.890702 1.143L 0.890702 5.40788L -1.37755e-06 5.40788L -1.37755e-06 8.85568e-07L 1.27841 8.85568e-07L 2.92359 4.38176L 2.94455 4.38176L 4.58973 8.85568e-07L 5.86814 8.85568e-07L 5.86814 5.40788L 4.97745 5.40788Z"/>
      <path id="logo_path18_fill" d="M 5.08304 5.53282C 4.89442 5.60537 4.67437 5.63681 4.47527 5.63681C 3.97229 5.63681 3.69983 5.35307 3.68935 4.84042C 3.15493 5.43852 2.56812 5.69968 1.72981 5.69968C 0.660973 5.69968 3.24708e-06 5.11206 3.24708e-06 4.16977C 3.24708e-06 3.20652 0.63921 2.63986 1.91763 2.48348C 3.20652 2.3263 3.64664 2.35774 3.64664 1.62422C 3.64664 1.04788 3.217 0.733519 2.42061 0.733519C 1.59278 0.733519 1.16314 1.0374 1.07931 1.83379L 0.209575 1.83379C 0.241012 0.681123 1.07932 6.39577e-07 2.473 6.39577e-07C 3.19604 6.39577e-07 3.81429 0.188618 4.17057 0.52394C 4.54781 0.8907 4.53733 1.44688 4.53733 1.9281C 4.53733 2.73417 4.49542 3.53056 4.49542 4.33824C 4.49542 4.73643 4.58973 4.87185 4.86218 4.87185C 4.94601 4.87185 4.98792 4.86218 5.08223 4.84042L 5.08223 5.53282L 5.08304 5.53282ZM 2.45286 3.06869C 1.80317 3.15332 0.922938 3.22587 0.922938 4.09642C 0.922938 4.65099 1.33162 4.99679 2.00226 4.99679C 2.84057 4.99679 3.64744 4.42045 3.64744 3.72966L 3.64744 2.74384C 3.31211 2.99614 2.85024 3.0171 2.45286 3.06869Z"/>
      <path id="logo_path19_fill" d="M 0.890706 0.785912L 0.890706 5.40788L -3.34548e-06 5.40788L -3.34548e-06 8.85568e-07L 3.71031 8.85568e-07L 3.71031 0.785912L 0.890706 0.785912Z"/>
      <path id="logo_path20_fill" d="M 5.08223 5.53282C 4.89361 5.60537 4.67355 5.63681 4.47446 5.63681C 3.97147 5.63681 3.69903 5.35307 3.68855 4.84042C 3.15413 5.43852 2.56732 5.69968 1.72901 5.69968C 0.66017 5.69968 -9.83965e-08 5.11206 -9.83965e-08 4.16977C -9.83965e-08 3.20652 0.639207 2.63986 1.91762 2.48348C 3.20652 2.3263 3.64664 2.35774 3.64664 1.62422C 3.64664 1.04788 3.21701 0.733519 2.42061 0.733519C 1.59279 0.733519 1.16315 1.0374 1.07932 1.83379L 0.209572 1.83379C 0.241009 0.681123 1.07931 6.39577e-07 2.473 6.39577e-07C 3.19604 6.39577e-07 3.81429 0.188618 4.17057 0.52394C 4.54781 0.8907 4.53733 1.44688 4.53733 1.9281C 4.53733 2.73417 4.49542 3.53056 4.49542 4.33824C 4.49542 4.73643 4.58973 4.87185 4.86218 4.87185C 4.94601 4.87185 4.98792 4.86218 5.08223 4.84042L 5.08223 5.53282ZM 2.45124 3.06869C 1.80155 3.15332 0.921335 3.22587 0.921335 4.09642C 0.921335 4.65099 1.33 4.99679 2.00065 4.99679C 2.83895 4.99679 3.64582 4.42045 3.64582 3.72966L 3.64582 2.74384C 3.3105 2.99614 2.84944 3.0171 2.45124 3.06869Z"/>
      <path id="logo_path21_fill" d="M 2.3795 1.13156e-06C 3.49026 1.13156e-06 4.41158 0.452201 4.41158 1.45817C 4.41158 2.07561 3.98276 2.50525 3.54265 2.59956L 3.54265 2.61971C 4.04563 2.71402 4.59053 3.1235 4.59053 3.961C 4.59053 5.13543 3.48946 5.73192 2.34726 5.73192C 0.932621 5.73192 0.062876 5.0516 3.05029e-06 3.87717L 0.901179 3.87717C 0.953574 4.65341 1.54039 5.00888 2.33678 5.00888C 3.18557 5.00888 3.6676 4.53814 3.6676 3.98276C 3.6676 3.43786 3.34275 3.10254 2.51412 3.10254L 1.77012 3.10254L 1.77012 2.3787L 2.36741 2.3787C 2.99614 2.3787 3.5096 2.13768 3.5096 1.49847C 3.5096 1.10028 3.10012 0.723846 2.36741 0.723846C 1.7282 0.723846 1.06803 0.985011 0.994681 1.71853L 0.0951155 1.71853C 0.178946 0.388524 1.2897 1.13156e-06 2.3795 1.13156e-06Z"/>
      <path id="logo_path22_fill" d="M 3.05029e-06 5.40788L 3.05029e-06 8.85568e-07L 0.889889 8.85568e-07L 0.889889 4.4132L 0.911659 4.4132L 3.34275 8.85568e-07L 4.48575 8.85568e-07L 4.48575 5.40788L 3.59504 5.40788L 3.59504 0.996296L 3.57328 0.996296L 1.14219 5.40788L 3.05029e-06 5.40788Z"/>
      <path id="logo_path23_fill" d="M 4.42784e-06 5.40788L 4.42784e-06 8.85568e-07L 0.890702 8.85568e-07L 0.890702 2.14897L 3.59424 2.14897L 3.59424 8.85568e-07L 4.48494 8.85568e-07L 4.48494 5.40788L 3.59424 5.40788L 3.59424 2.93488L 0.890702 2.93488L 0.890702 5.40788L 4.42784e-06 5.40788Z"/>
      <path id="logo_path24_fill" d="M 104.601 6.6065L 87.0493 6.6065L 81.7687 6.6065L 73.725 21.4292L 73.6364 21.4292L 73.6364 6.6065L 68.9523 6.6065L 68.9523 28.0067L 74.2345 28.0067L 82.2758 13.1614L 82.3676 13.1614L 82.3676 28.0067L 87.0501 28.0067L 87.0501 10.6038L 93.4688 10.6038L 93.4688 28.0067L 98.181 28.0067L 98.181 10.6038L 104.603 10.6038L 104.603 6.6065L 104.601 6.6065ZM 34.1916 28.1453L 39.211 28.1453L 39.211 6.66373L 34.1916 6.66373L 34.1916 28.1453ZM 40.4233 6.98938L 43.7048 28.2155L 46.2528 27.8205L 42.9721 6.59199L 40.4233 6.98938ZM 62.0049 15.3853C 61.3133 15.5046 59.0635 15.8682 57.7722 15.8682C 55.3718 15.8682 54.4408 14.9323 54.4408 12.3497L 54.4408 6.6065L 49.7583 6.6065L 49.7583 12.2884C 49.7583 17.7882 52.6094 19.7744 57.4111 19.7744C 58.6742 19.7744 60.9836 19.3842 62.0041 19.173L 62.0041 28.0067L 66.6857 28.0067L 66.6857 6.6065L 62.0041 6.6065L 62.0041 15.3853L 62.0049 15.3853ZM 130.588 4.95326C 133.622 4.95326 135.755 2.84702 136.001 -2.38304e-08L 133.092 -2.38304e-08C 132.847 1.07771 132.012 1.97889 130.589 1.97889C 129.167 1.97889 128.333 1.07771 128.081 -2.38304e-08L 125.176 -2.38304e-08C 125.422 2.84702 127.555 4.95326 130.588 4.95326ZM 0 28.1453L 17.1901 28.1453L 18.8603 6.66373L 0 6.66373L 0 28.1453ZM 21.426 6.66373L 19.7792 28.1453L 25.2725 28.1453L 24.1755 6.66373L 21.426 6.66373ZM 30.4402 28.1453L 32.906 28.1453L 32.906 6.66373L 29.3383 6.66373L 30.4402 28.1453ZM 195.96 6.6065L 186.746 6.6065L 186.746 28.0067L 191.398 28.0067L 191.398 20.3136L 196.197 20.3136C 200.49 20.3136 203.79 18.1493 203.79 13.4927C 203.791 8.77078 200.582 6.6065 195.96 6.6065ZM 195.572 16.6178L 191.398 16.6178L 191.398 10.4603L 195.599 10.4603C 197.665 10.4603 199.228 11.268 199.228 13.5515C 199.228 15.9262 197.666 16.6178 195.572 16.6178ZM 175.402 6.09465C 169.01 6.09465 164.809 10.5449 164.809 17.34C 164.809 24.0425 169.041 28.5218 175.37 28.5218C 181.646 28.5218 185.874 24.0159 185.874 17.34C 185.874 10.6368 181.646 6.09465 175.402 6.09465ZM 175.402 24.6422C 171.77 24.614 169.55 21.8476 169.55 17.2474C 169.55 12.7995 171.803 9.9436 175.342 9.9436C 178.91 9.9436 181.136 12.7366 181.136 17.2474C 181.135 21.821 178.945 24.6422 175.402 24.6422ZM 107.876 6.57426L 99.7424 28.0067L 104.545 28.0067L 106.286 23.2316L 114.24 23.2316L 115.915 28.0067L 120.84 28.0067L 112.707 6.57426L 107.876 6.57426ZM 107.427 19.8034L 110.275 11.8346L 113.094 19.8034L 107.427 19.8034ZM 244.555 24.0159L 244.555 6.6065L 229.342 6.6065L 229.342 9.85091C 229.342 16.168 228.443 20.6449 225.921 24.0159L 224.303 24.0159L 224.303 33.5153L 228.83 33.5153L 228.83 28.0067L 242.396 28.0067L 242.396 33.5153L 246.93 33.5153L 246.93 24.0159L 244.555 24.0159ZM 239.874 24.0159L 231.143 24.0159C 233.032 20.5579 233.994 16.6493 233.994 10.7843L 233.994 10.4256L 239.874 10.4256L 239.874 24.0159ZM 214.91 6.09465C 208.517 6.09465 204.316 10.5449 204.316 17.34C 204.316 24.0425 208.55 28.5218 214.881 28.5218C 221.152 28.5218 225.384 24.0159 225.384 17.34C 225.384 10.6368 221.153 6.09465 214.91 6.09465ZM 214.91 24.6422C 211.28 24.614 209.057 21.8476 209.057 17.2474C 209.057 12.7995 211.308 9.9436 214.853 9.9436C 218.422 9.9436 220.642 12.7366 220.642 17.2474C 220.642 21.821 218.451 24.6422 214.91 24.6422ZM 165.89 6.6065L 153.567 6.6065L 153.567 28.1453L 158.28 28.1453L 158.28 10.6288L 165.89 10.6288L 165.89 6.6065ZM 125.983 21.4292L 125.893 21.4292L 125.893 6.6065L 121.209 6.6065L 121.209 28.0067L 126.49 28.0067L 134.534 13.1614L 134.618 13.1614L 134.618 28.0067L 139.304 28.0067L 139.304 6.6065L 134.023 6.6065L 125.983 21.4292ZM 141.932 21.7436L 150.942 21.7436L 150.942 17.9357L 141.932 17.9357L 141.932 21.7436Z"/>
    </defs>

mixin logo(className, width, height)
  a.landing-header__logo(href="/")
    +logoWithoutLink(className, width, height)