//include ../svg/logo.pug

<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Demo
body
  div(style="background: black; display: inline-block;")
    //+logo("white")
  div(style="background: white; display: inline-block;")
    //+logo("blue")