extend ../templates/main.pug

include ../landing/header.pug
include ../pratchett/icons.pug
include ../pratchett/header.pug
include ../pratchett/scheme.pug

block topHead
	-var styleFile = "style.css"
	-var title = "Page title"
	-var description = "..description"

	include ../pratchett/cycles.pug

block bottomHead

block topBody

block content
	.landing.pratchett
		+icons
		+landingHeader({class: 'white'}, {type: 'social'})
		main
			+pratchettHeader
			+pratchettScheme

block bottomBody



		