extend ../templates/main.pug

include ../elements/links.pug
include ../landing/header.pug
include ../pratchett/icons.pug
include ../pratchett/header.pug
include ../pratchett/scheme.pug
include ../pratchett/slider.pug
include ../pratchett/map.pug

block topHead
	-var styleFile = "style.css"
	-var title = "Page title"
	-var description = "..description"

	include ../pratchett/cycles.pug

block bottomHead

block topBody

block content
	.landing.pratchett
		+icons
		+landingHeader({class: 'white'}, {type: 'social'})
		main
			+pratchettHeader
			+pratchettScheme
			+pratchettSlider
			+pratchettMap


block bottomBody
	script(src="js/script.js")



		